<!DOCTYPE html>
<html>
<head>
  <title>Learning TypeScript
By: Remo H. Jansen</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script type="text/javascript" src="/app.js"></script>
</head>
<body class="container">
<h1>Learning TypeScript
By: Remo H. Jansen</h1>
<ul class="list-group">
  <li class="list-group-item"><a href="ch1.html">Chapter 1. Introducing TypeScript</a></li>  
  <li class="list-group-item"><a href="ch2.html">Chapter 2. Automating Your Development Workflow</a></li>
  <li class="list-group-item"><a href="ch3.html">Chapter 3. Working with Functions</a></li>  
</ul>
</body>
</html>